<!DOCTYPE html>
<html>
	<head>
		<title>Hitcounter</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:400,700">
		{{#css}}
			<link rel="stylesheet" type="text/css" href="/css/{{.}}.css">
		{{/css}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>