| var url = "!{callbackUrl}";
| 
| var params = {
| 	referrer: document.referrer,
| 	resolution: screen.width + "x" + screen.height
| };
| 
| var query = [];
| 
| for(var p in params) {
| 	query.push(p + "=" + params[p]);
| }
| 
| new Image().src = url + "?" + query.join("&");