extends ./layouts/home

block home-content
	h2 Projects
	p Click a project name below to view the statistics:
	table.table.table-bordered
		thead
			tr
				th(colspan="2") Projects
		tbody
			each project in projects
				tr
					td
						a(href="/project/" + project.id)= project.name
					td
						a(href="/project/" + project.id + "/install/" + project.name) Install
	h3 New project
	form.create-project(action="/create-project" method="post")
		div
			input.form-control(name="name", placeholder="Project name")
		div.create-project-submit
			input.btn.btn-primary(type="submit", value="Create project")