<div id="container">
	<div id="landing-page">
		<div id="title">
			<h1>Hit counter</h1>
			<h2>Log &amp; view your website hits</h2>
		</div>
		<div id="start">
			<div id="create-project">
				{{#if errors}}
				<ul>
					{{#errors}}
					<li>{{msg}}</li>
					{{/errors}}
				</ul>
				{{/if}}
				<form action="/start" method="post">
					<input class="form-control" name="project" placeholder="Project name" value="{{start.project}}">
					<input class="form-control" name="username" placeholder="Username" value="{{start.username}}">
					<input class="form-control" name="password" type="password" placeholder="Password" value="{{start.password}}">
					<input class="btn btn-success" type="submit" value="Create project">
				</form>
			</div>
			<div id="login">
				
			</div>
		</div>
	</div>
</div>